<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
  <!-- Optional theme -->


  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <link href='https://fonts.googleapis.com/css?family=Almendra' rel='stylesheet'>
  
  <title>{% block title %}{% endblock %} - OAuth SecretData</title>


  </head>
  <body>
  
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <a class="navbar-brand" href="/">Conversions</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/Moonlit">Moonlit  Forest</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/Mushroom">Glow Mushroom Forest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Sakrua">Heavenly Sakrua Forest</a>
          </li>     
        </ul>
      </div>  
    </nav>
  
    {% include 'navbar.html' %} 


    <div id="content">

  {% block content %}{% endblock %}</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </body>
</html>
